// COLOR PALETTE
$darkGray : #58595b;
$gsaLightBlue : #8fc7ea;
$gsaBlue : #27328b;
$gsaBeige : #b7b6b6;
$offWhite : #efeadf;
$gsaRed : #af3639;
$powderBlue : #e2eef5;
$lightGray : #e5e5e5;
$gsaGrayBlock : #fafafa;

// LINKS
$gsaLinks: #3a45bf;
$gsaLinkHoverColor: #23527c;
$gsaLinksVisited: rgba(58,69,191,0.5);


// FONTS
$gsaFontFamily: 'Montserrat', sans-serif;
$gsaBodyFont: arial, sans-serif;

// HEADERS
$gsaSectionHeaderColor: #ccc;

// DESKTOP NAV
$primaryNavigationDesktopLeft : $offWhite;
$primaryNavigationDesktopCenter : $offWhite;
$primaryNavigationDesktopRight : $offWhite;

// CATEGORY NAVIGATION
$categoryNavFirstLevel: #d1c8b6;
$categoryNavSecondLevel: $offWhite;
$categoryNavThirdLevel: #f7f5f2;
$categoryNavSelected: $gsaLightBlue;
$categoryNavText: #333;

// MISC
$navItemColor : #333;
$doubleRule: 7px double #eaeaea;
$gsaGreyActiveorHoverState: #efeadf;

// TABLES
$tableHeadBG : $gsaLightBlue;
$tableColoredRow : #f4f4f4;



