$gray : #edf0f5;
$grayText : #666;
$GSAblue : #323E95; // 50, 62, 149
$GSAlightBlue : #47a2e3;
$GSAdarkBlue : #315369;
$GSAskyBlue : #3366ff;
$GSAlinks : #3a45bf;

$standardGSAFamily : Helvetica,Verdana,Arial,Garuda,sans-serif;
